body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(26, 11, 30, 1);
  color: rgba(155, 105, 193, 1);
}

hr {
  margin: 5rem;
  border-color: rgba(155, 105, 193, 1);
}

#home {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}